<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>

    <microsoft.identityModel>
        <service>
            <securityTokenHandlers>
                <add type="Talk2Bits.IdentityModel.OAuth.JwtSecurityTokenHandler, Talk2Bits.IdentityModel.OAuth, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </securityTokenHandlers>
        </service>
    </microsoft.identityModel>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
