<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <federatedServiceHostConfiguration />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <extensions>
            <behaviorExtensions>
                <add name="federatedServiceHostConfiguration" type="Microsoft.IdentityModel.Configuration.ConfigureServiceHostBehaviorExtensionElement, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </behaviorExtensions>
        </extensions>
    </system.serviceModel>
    
    <!--WIF configuration-->
    <microsoft.identityModel>
        <service>
            <securityTokenHandlers>
                <add type="Talk2Bits.IdentityModel.OAuth.JwtSecurityTokenHandler, Talk2Bits.IdentityModel.OAuth, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </securityTokenHandlers>
            <issuerNameRegistry type="TestService.SimpleRegistry, TestService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <!--<claimsAuthorizationManager type="SampleService.MySimpleClaimsAuthorizationManager, SampleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
            <audienceUris>
                <add value="http://localhost/" />
            </audienceUris>
            <!--<issuerTokenResolver type="TestService.WrapIssuerTokenResolver, TestService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">-->
            <issuerTokenResolver type="Talk2Bits.IdentityModel.OAuth.ConfigurationBasedIssuerTokenResolver, Talk2Bits.IdentityModel.OAuth, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
                <tokenResolvers>
                    <add name="MyCustomIssuer" signingKey="Sapm9PPZZHly7a9319mksllija112suapoqc321jvso="/>
                </tokenResolvers>
            </issuerTokenResolver>
        </service>
    </microsoft.identityModel>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
